<div class="form-group">
  <section class="wiz_a-filterTab-container">
    <div class="wiz_a-filterTab-badge_holder" ng-click="toggleForm()">
      <span ng-if="filters.length === 0">Add filter to view</span>
      <span ng-repeat="filter in filters">
        {{filter.column}} {{filter.operator}} {{filter.operand}}
        <i class="fa fa-close" ng-click="removeFilter(filter, $event)"></i>
      </span>
    </div>
    <button class="btn btn-default" type="button" ng-click="toggleForm()">
      <span class="caret"></span>
    </button>
    <div class="collapse" ng-class="{'in' : acceptInput}">
      <form class="well">
        <div class="form-group">
          <select class="form-control input-sm" ng-model="filter.column" ng-options="column for column in columns">
            <option value="">-column-</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control input-sm" ng-model="filter.operator" ng-options="operator for operator in operators">
            <option value="">-operator-</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control input-sm" type="text" placeholder="value" ng-model="filter.operand"/>
        </div>
        <button class="btn btn-success" ng-click="saveFilter()" ng-disabled="isEmptyFilter()">Ok</button>
        <button class="btn btn-default" ng-click="toggleForm()">Cancel</button>
      </form>
    </div>
  </section>
</div>
