<div class="filter-control">
    <ul>
        <li ng-repeat="filter in filters">
            <span class="fil-col">{{filter.column}}</span>
            <span class="fil-op">{{filter.operator}}</span>
            <span class="fil-oprnd">{{filter.operand}}</span>
            <button class="fil-rem" ng-click="removeFilter(filter)">X</span>
        </li>
        <li class="fil-add">
            <button ng-hide="filterAdd" class="btn-fil-add" ng-click="filterAdd=true">+</button>
            <div class="fil-new" ng-show="filterAdd">
                <select name="col" id="col" ng-model="newCol" required="required">
                    <option value="" ng-selected="{{''==newCol}}">Column</option>
                    <option ng-repeat="column in columns" value="{{column}}" ng-selected="{{column==newCol}}">{{column}}</option>
                </select>
                <select name="op" id="op" ng-model="newOp" required="required">
                    <option value="" ng-selected="{{''==newOp}}">Operator</option>
                    <option ng-repeat="operator in operators" value="{{operator}}" ng-selected="{{operator==newOp}}">{{operator}}</option>
                </select>
                <input type="text" ng-model="newOprnd" placeholder="Value" required="required" />
                <button ng-disabled="!newCol.trim().length > 0 || !newOp.trim().length > 0 || !newOprnd.trim().length > 0" ng-click="saveFilter(newCol, newOp, newOprnd);newOprnd=newOp=newCol='';filterAdd=false;">Ok</button>
                <button ng-click="newOprnd=newOp=newCol='';filterAdd=false;">Cancel</button>
            </div>
        </li>
    </ul>
</div>