/*Module Name: Wize analytics Filter and Search
Description: Works for Wize Analytics filter and search module
Domain: Wize
*/

.wiz_a-filterSearch_container ul{
    list-style: none;
    margin:0;
    padding:0;
}
.wiz_a-filterSearch_container li button.fil-rem{
	border-radius: 0px;	
    float: right;
	margin-left: 10px;
	padding: 2px 7px;
	font-size: 10px;
}
.wiz_a-filterSearch_container li + li.fil-add {
    margin-top: 10px;
}

.wiz_a-filterSearch_container li.fil-add > div.fil-new select,
.wiz_a-filterSearch_container li.fil-add > div.fil-new input{
    margin-bottom: 10px;
}
.wiz_a-filterSearch_container li.fil-add > div.fil-new input,
.wiz_a-filterSearch_container li.fil-add > div.fil-new .btn{
    border-radius: 0;
}
.wiz_a-filterSearch_container li.fil-add > div.fil-new .btn + .btn{
    margin-left: 7px;
}
.wiz_a-filterSearch_container li > .btn-fil-add {
    border-radius: 0;
    padding: 5px 15px;
    width:100%;
    text-align: left;
}
.wiz_a-filterSearch_container li + li.fil-add >  {
    text-align: center;
}


/*Filter tab interaction starts*/
.wiz_a-filterTab-container{
    position: relative;
}
.wiz_a-filterTab-badge_holder {
    border: 1px solid #e5e5e5;
    height: 34px;
    width: 100%;
    padding: 5px 36px 5px 10px;
    color: #808080;
}

.wiz_a-filterTab-badge_holder + button.btn{
    border-radius: 0;
    border: 1px solid #e5e5e5;
    background-color: #f0f3f4;  
    position: absolute;
    right: 0;
    top:0;
    height: 25px;
    padding: 5px 10px;      
}
.wiz_a-filterTab-badge_holder + button.btn > span.caret {
	vertical-align: top;
	color: #212121;
	margin-top: 5px;
}
.wiz_a-filterTab-container .well{
    padding: 10px;
    border-width: 1px 1px 1px;
    border-top: none;
    border-radius: 0;
    width:300px;
}
.wiz_a-filterTab-container .well > .form-group{
    margin-bottom: 5px;
}
.wiz_a-filterTab-container .well select.form-control,
.wiz_a-filterTab-container .well input.form-control{
    border-radius: 0;
    border-color: #e5e5e5;
}
.wiz_a-filterTab-container .well button.btn{
    margin-top:10px;
    margin-right: 10px;
    border-radius: 0;
}

/*Filter tab interaction ends*/

