/*Module Name: Wize analytics central style
Description: Works common for Wize Analytics module
Domain: Wize
*/


.navbar-default{
	background-color: #fff;
	border-radius: 0px;
	border-left: none;
	border-right: none;
	border-top: none;
}

.aside-nav{
	position: fixed;
	top: 0px;
	width: 190px;
	height: 100%;
	background-color: #2D323E;
	left: 0;
	z-index: 999;
	transition: all 0.5s;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s;
	white-space: nowrap;
}



.logo-wrapper{
	background-color:#e85b5d ;
	color: #fff;
	padding: 13px 19px; 
	margin-bottom: 0px;
}

.logo-wrapper h5{
	/*font-style: 14px;
	margin: 0px;
	font-weight: 200;
	text-transform: uppercase;*/

	background-image: url('../assets/images/logo-@1x.png');
	background-repeat: no-repeat;
	width: 76px;
	margin: 0px;
	height: 24px;
	text-indent: -99999em;


}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

.logo-wrapper h5{
	background-image: url('../assets/images/logo-@2x.png');
	background-size:76px 24px;
}

}


.logo-wrapper h5 sup{
	font-size: 10px;
}



.navigation{}


.navigation li a{
	display: block;
	padding: 6px 15px;
	color: #BEC0C3;
	text-decoration: none;
	cursor: pointer;
}

.navigation li a span{
	background-color: #21252D;
	display: inline-block;
	margin-right: 15px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 3px;
}



.toggle-menu{
	text-align: right;
}


.navigation li.active a{
	color: #fff;
}

.navigation li.active a span{
	background-color: #E85B5D;
}



 
 .aside-nav + #main{
 	margin-left: 190px;
 	transition: all 0.5s;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s;
 }



.aside-nav.collapsed{
	width: 56px;
	overflow: hidden;
}


.aside-nav.collapsed .toggle-menu, .aside-nav.collapsed .logo-wrapper{
	text-align: center;
}

.aside-nav.collapsed .logo-wrapper h5 span{
	display: none;
}


 .aside-nav.collapsed + #main{
 	margin-left: 56px;
 }
/*pageLoader*/
.block-ui-overlay {z-index: 10001; top: 0px; left: 0; bottom: 0; right: 0; position: fixed; background:rgba(0, 0, 0, 0.2);}
.block-ui-message-container{position: fixed; top: 50%; left: 50%; right: 0px; font-size: 14px; z-index: 10002; width: 153px; height: 35px; margin: -17.5px 0 0 -76.5px;}
.block-ui-message {cursor: wait; display: block; text-align: left; color: lighten(#000, 30%); font-size: 14px; border: 1px solid #999; padding: 7px 19px; border-radius:3px; background: #FFF;}
.loader-img {background: url(images/Preloader_2.gif) no-repeat 0px -24px; width: 60px; height: 16px; display:inline-block;float:right;}
/*End pageLoader*/
