/*Module Name: Wize analytics default style
Description: Works common for Wize Analytics default
Domain: Wize
*/
body{
	margin: 0;
	padding:0;
}
.wiz_a-common-container:after{
	clear:both;
	content: '';
}
/*logo start*/
.logo-wrapper{
	background-color:#e85b5d ;
	color: #fff;
	padding: 13px 19px; 
	margin-bottom: 0px;
}

.logo-wrapper h5{
	background-image: url('/assets/images/wize-analytics_images/wize-logo@1x.png');
	background-repeat: no-repeat;
	width: 76px;
	margin: 0px;
	height: 24px;
	text-indent: -99999em;


}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .logo-wrapper h5{
        background-image: url('/assets/images/wize-analytics_images/wize-logo@1x.png');
        background-size:76px 24px;
    }

}


.logo-wrapper h5 sup{
	font-size: 10px;
}
/*logo ends*/

/*aside control start*/
.aside-nav{
	position: fixed;
	top: 0px;
	width: 190px;
	height: 100%;
	background-color: #2D323E;
	left: 0;
	z-index: 999;
	transition: all 0.5s;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s;
	white-space: nowrap;
}

.navigation li a{
	display: block;
	padding: 6px 15px;
	color: #BEC0C3;
	text-decoration: none;
	cursor: pointer;
}

.navigation li a span{
	background-color: #21252D;
	display: inline-block;
	margin-right: 15px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 3px;
}



.toggle-menu{
	text-align: right;
}


.navigation li.active a{
	color: #fff;
}

.navigation li.active a span{
	background-color: #E85B5D;
}



 
 .aside-nav + #main{
 	margin-left: 190px;
 	transition: all 0.5s;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s;
	padding: 0 10px;
 }



.aside-nav.collapsed{
	width: 56px;
	overflow: hidden;
}


.aside-nav.collapsed .toggle-menu, .aside-nav.collapsed .logo-wrapper{
	text-align: center;
}

.aside-nav.collapsed .logo-wrapper h5 span{
	display: none;
}


 .aside-nav.collapsed + #main{
 	margin-left: 56px;
 }
 
 /*aside control ends*/
 
 /*navbar start*/
.navbar-default.displayNavBar2{
	background-color: #e85b5d;
	border-radius: 0px;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: 0 -10px;
}
.navbar-default.displayNavBar2 .navbar-nav>li>a{
color:#fff !important;
}
.navbar-default.displayNavBar2 .navbar-nav>li>a:hover{
color:#fff !important;
}
.navbar-default.displayNavBar2 .navbar-nav>.open>a, .navbar-default.displayNavBar2 .navbar-nav>.open>a:focus, .navbar-default.displayNavBar2 .navbar-nav>.open>a:hover{
color:#fff;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(217,31,33,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(217,31,33,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(217,31,33,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d91f21',GradientType=0 );
}
.navbar-default.displayNavBar2 .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
 border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-default.displayNavBar2 .navbar-nav>li>.dropdown-menu .form-control{
border-radius:0px;
}
.server-status{
color:#fff !important;
}
.server-disconnected{
color:#a51719 !important;
}
/*navbar ends*/

 
/*pageLoader*/
.block-ui-overlay {z-index: 10001; top: 0px; left: 0; bottom: 0; right: 0; position: fixed; background:rgba(0, 0, 0, 0.2);}
.block-ui-message-container{position: fixed; top: 50%; left: 50%; right: 0px; font-size: 14px; z-index: 10002; width: 153px; height: 35px; margin: -17.5px 0 0 -76.5px;}
.block-ui-message {cursor: wait; display: block; text-align: left; color: lighten(#000, 30%); font-size: 14px; border: 1px solid #999; padding: 7px 19px; border-radius:3px; background: #FFF;}
.loader-img {background: url(images/Preloader_2.gif) no-repeat 0px -24px; width: 60px; height: 16px; display:inline-block;float:right;}
/*End pageLoader*/


/*grid collapse expand start*/
/*commented as change of json viewer*/
/*.ui-grid-icon-plus-squared::before {
    content: "\f0da";
	font-family: 'FontAwesome';
}
.ui-grid-icon-minus-squared::before {	
    content: "\f0d7";
	font-family: 'FontAwesome';
}*/
/*grid collapse expand ends*/

/*json viewer start*/
.log-viewer .panel .panel-collapse{
	transition:none !important;
}

.json-formatter-row .toggler::after {
    content: "\f0da";
 font-family: 'FontAwesome';
 transform:none;
}
.json-formatter-row .toggler.open::after { 
    content: "\f0d7";
 font-family: 'FontAwesome';
 transform:none;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
 border-right:#fff;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background-color: #fff;
    border-bottom: none;
}
.ui-grid-canvas > .ui-grid-row:nth-child(2n) .ui-grid-cell.ui-grid-row-header-cell,
.ui-grid-canvas > .ui-grid-row:nth-child(2n) .json-formatter-row{
 background-color: #f5f5f5;
}
.scrollFiller{
 border:none;
}
/*json viewer ends*/


.paragraphForm.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
    width: 200px;
}
.paragraphForm.form-horizontal .form-group select.input-sm{
 border-radius:0px;
}
.wiz_a-common-noteAction_wrapper{
	margin: 0 -24px;
}
.noteAction{
	position: relative;
	top: 0;
	z-index: auto;
	margin: 0;
}
.noteAction span, .noteAction button, .noteAction form{
visibility:visible;
}


/*noteAction start*/
.noteAction button.btn{
border-radius: 0px !important;
}
.noteAction > h3 > div.pull-right{
margin-top:5px !important;
}

.form-control-static2{
font-size:16px !important;
text-transform:uppercase;
color:#e85b5d !important;
}

.open>.dropdown-menu{
border-radius:0px !important;
}

/*noteAction ends*/

/*json viewer container start*/
.paragraph-col{
border:1px solid #e5e5e5 !important;
}
.paragraph-margin {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border: none !important;
}
/*json viewer container ends*/

/*accordian interaction control adjustments start*/

.panel-group div.panel.panel-default{
border-radius: 0px !important;
}
.panel-group div.panel.panel-default > div.panel-heading > .panel-title{
font-size:13px !important;
border-color:#ccc !important;
}
.panel-group .panel+.panel {
    margin-top: 0px !important;
 border-top:none !important;
}
.accordion-toggle:hover,
.accordion-toggle:focus{
text-decoration:none !important;
outline:none !important;
cursor:pointer !important;
}
.accordion-toggle i.pull-left.glyphicon.glyphicon-chevron-left{
padding-right:5px !important;
font-size: 16px !important;
line-height: 10px !important;
}
.accordion-toggle i.pull-left.glyphicon.glyphicon-chevron-left:before{
font-family:"FontAwesome";
content:"\f0da";
}
.accordion-toggle i.pull-left.glyphicon.glyphicon-chevron-down{
padding-right:5px !important;
font-size: 16px !important;
line-height: 10px !important;
}
.accordion-toggle i.pull-left.glyphicon.glyphicon-chevron-down:before{
font-family:"FontAwesome";
content:"\f0d7";
}

/*accordian interaction control adjustments ends*/
