<div class="logo-wrapper">
  <h5>Wize</h5>
</div>
<nav class="wiz_a-sidebar-nav" ng-controller="sidebarCtrl">
  <ul class="panel-group list-unstyled" id="accordion" role="tablist" aria-multiselectable="true">
    <li class="toggle-menu"><a><i class="fa fa-arrows-h" aria-hidden="true"></i></a></li>
    <li class="parentNavLnk panel" ng-repeat="node in nodes" ng-class="{'active': isRouteActive(node)}">
      <a href="#navItemCollapse{{$index}}" class="collapsed" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="navItemCollapse">
        <span><i class="{{node.attributes.icon}}" aria-hidden="true"></i></span>
        <span>{{node.name}}</span><span class="fa fa-angle-down"></span>
      </a>
      <ul id="navItemCollapse{{$index}}" class="list-unstyled collapse" ng-if="node.children.length > 0">
        <li ng-repeat="leaf in node.children" ng-class="{'active': isRouteActive(leaf)}" class="nav-node">
          <a ng-href="#/notebook/{{leaf.id}}">
            <span><i class="{{leaf.attributes.icon}}" aria-hidden="true"></i></span>
            {{leaf.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
