<div class="logo-wrapper">
  <h5>Wize</h5>
</div>
<nav class="navigation" ng-controller="sidebarCtrl">
  <ul class="list-unstyled">
    <li class="toggle-menu"><a><i class="fa fa-arrows-h" aria-hidden="true"></i></a></li>
    <li ng-repeat="node in nodes" ng-class="{'active': isRouteActive(node)}" class="nav-node">
      <a ng-click="setFirstLeafActive(node)">
        <span><i class="{{node.attributes.icon}}" aria-hidden="true"></i></span>
        {{node.name}}
      </a>
      <ul ng-if="node.children.length > 0">
        <li ng-repeat="leaf in node.children" ng-class="{'active': isRouteActive(leaf)}" class="nav-node">
          <a ng-href="#/notebook/{{leaf.id}}">
            <span><i class="{{leaf.attributes.icon}}" aria-hidden="true"></i></span>
            {{leaf.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
